<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="p3l_8980.com.atmaauto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="SIBAAU"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".UI.HistoryTransaction"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".UI.CheckStatus"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.HomeSparepart"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.HomePengguna"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.AddMotorcycle"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.MotorData"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.CustomerOld"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.MenuCustomer"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.AddTransaction"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.AddCustomer"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.UpdateVerification"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.VerificationProcurement"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.AddProcurement"
            android:label="@string/title_activity_add_procurement"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.AddSupplier"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.AddSparepart"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.EditUser"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UI.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".UI.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.Beranda"
            android:screenOrientation="portrait"/>
        <!-- [START fcm_default_icon] -->
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- [END fcm_default_icon] -->
        <service android:name=".Notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Notification.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>